.past-events {
  padding: 0 0;
  .carousel-wrapper__heading {
    padding-bottom: 30px;
    color: $black;
  }

  .carousel-wrapper {
    padding: 40px 20px 25px;

    .flickity-prev-next-button.previous {
      left: -50px;
    }
    .flickity-prev-next-button.next {
      right: -50px;
    }

    .carousel .flickity-button {
      color: $black;
    }

    .carousel-cell-single {
      @include bp(before_ipad) {
        height: 250px;
      }

      .carousel-cell-image {
        height: 93%;
      }

      .caption {
        position: absolute;
        bottom: 0;
        font-family: 'Retina Light';
        font-size: 0.9em;
        line-height: 25px;

        &.mobile-hide {
          @include bp(before_ipad) {
            display: none;
          }
        }
      }
    }
  }

  &__container {
    width: 100%;
    position: relative;
    // height: 400px;

    // @include bp(before_ipad) {
    //   height: auto;
    // }

    &__links {
      &--each {
        position: relative;
        display: flex;
        height: 100%;

        &__a {
          width: 100%;
          height: 100%;
        }

        &__fig {
          position: relative;
          margin: 0 auto;
          height: 100%;
          width: 100%;

          &--img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &__text {
          position: absolute;
          bottom: 15px;
          display: flex;
          left: 20px;

          &--h3 {
            margin-right: 10px;
            color: $white;
          }

          &--svg {
            width: 20px;
          }
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
