.supporters {
  padding: 40px 0;

  &__container {
    .supporters-link {
      color: $secondary;
      text-decoration: underline;
    }

    .silver-tier {
      .card {
        margin: 10px;
      }

      .custom-supporters-width {
        height: 135px;
        width: 200px;
      }

      @include bp(before_ipad) {
        .custom-supporters-width {
          height: 120px;
          width: 185px;
        }
      }
    }

    .gold-tier {
      .card {
        margin: 10px;
      }

      .custom-supporters-width {
        height: 150px;
        width: 215px;
      }
    }

    .bronze-tier {
      .card {
        margin: 10px;
      }

      .custom-supporters-width {
        height: 113px;
        width: 178px;
      }
    }
  }

  &__headline {
    text-align: center;
    font-family: 'Escrow Banner Light', serif;
    font-size: 1.8em;
    color: $black;
    font-weight: 300;
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 2rem 0 2rem 0;

    // @include bp(phone_small) {
    //    flex-direction: column;
    // }

    .card {
      @include bp(phone_small) {
        max-width: 255px;

        .supporters-card-link {
          width: 100%;
        }

        .custom-supporters-width {
          width: 100%;
          height: auto;
        }
      }
    }

    .card__title {
      color: $black;
      margin-bottom: 10px;
    }

    .card__link {
      font-family: 'Retina Light', sans-serif;
      font-size: 0.9em;
    }
  }

  &__footer {
    text-align: center;

    &--desc {
      margin-bottom: 12px;
    }
  }
}
