.fadeIn {
  animation: slideIn 0.5s ease-out forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(15%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.move-up {
  opacity: 0;
  -webkit-transform: translateY(15%);
  transform: translateY(15%);
}
