// Theme Colors
$primary: #1A2F35; /* use dark color on this variable */
$secondary: #E87E13;
$tertiary: #2B2A2F; /* use dark color on this variable */
$quaternary: #ebebeb;
$quinary: #CBCDC1;
$senary: #abadb0;
$septenary: #e3e3e3;

$white: #ffffff;
$black: #000000;
$lightgray: #f1f1f1;

$errors: #ff0000;

